*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contanier{
    /* display: inline-block; */
    background-color: black;
    width: 500px;
    height: 750px;
    border: 1px solid silver;
    border-radius: 50px;
    position: relative;
}

.contanier h3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-weight: 100;
    
}

.contanier img{
    width: 70px;
    height: 70px;
    border: 1px solid orange;
    border-radius: 19px;
    background: transparent;
    display: flex;
    margin: 50px auto;
}

.contanier-1{
    width: 500px;
    height: 200px;
}

.signup{
    color: white;
    /* border: 1px solid blue; */
    position: relative;
}

.signup input{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    outline: none;
    font-size: 1em;
    font-weight:100px ;
    line-height: 0px;
    /* z-index: 1111; */
}

.name label {
   position: absolute;
   top: 10px;
   right: 22%;
   color: red;
   margin: 5px 0 0 0 ;
   color: gray;
}

.sec-name label{
    position: absolute;
    top: 72px;
    right: 65%;
    color: gray;
}

/* input:focus + .name>label{
    position: absolute;
    top: 0;
    bottom: 0px;
    z-index: 1;
} */


.pri-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 300px;
    height: 20px;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 50px;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.contanier-1> a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.sec-btn{
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 300px;
    height: 20px;
    padding: 10px 0;
    border: 1px solid  rgb(13, 13, 243);
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    margin: 50px 0 0 0;
}

 .contanier>a{
    display:flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-decoration: none;
    color:blue;
}

.meta img{
    position: absolute;
    top: 10px;
    left: 150px;
    width: 10px;
    height: 10px;
}

/* Forgotten login page */

.main-container{
    width: 350px;
    height: 730px;
    border: 1px solid silver;
    border-radius: 50px;
    background-color: black;
    margin: 5px 0 0 0;
}

.main-container img{
    width: 20px;
    height: 20px;
    margin: 30px 0 0px 30px;
}

.word{
    display: flex;
    justify-content: center;
    align-items: center;
    width:93%;
    height:30%;
    padding: 0 0 0 25px;
}

:is(.word,h3,h5){
    color: white;
    display: block;
    /* padding: 0 0 0 14px; */
}

.main-container h3{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px; 
    line-height: 50px; 
}

.main-container h5{
    letter-spacing: .5px;
    font-size: 13px;
    line-height: none;
}

.main-container a{
    text-decoration: none;
}

#input input{
    position: relative;
    width: 300px;
    height: 50px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
}

#inputname label{
    position: absolute;
    top: 180px;
    color:gray;
    margin: 5px 0 0 15px;
    /* border: 2px solid blue; */
}

#btn{
    width: 300px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 5px 0;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.facebook-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    text-decoration: none;
    width: 280px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;

}

.facebook-btn img{
      position: absolute;
      left: 30px;
      top: -18px;
}

/* Create new account page for mobile */

.sub-container{
    display: block;
    width: 350px;
    height: 730px;
    border: 1px solid silver;
    border-radius: 50px;
    background-color: black;
}

.sub-container img{
    width: 20px;
    height: 20px;
    margin: 30px 0 0px 30px;
}

#content{
    position: relative;
    width: auto;
    height:190px ;
    padding: 5px  0 0 22px;
}

#content h2{
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}

#content>h5{
    line-height: 15px;
    padding: 5px  0 15px  0;
}

#content input{
    /* position: relative; */
    width: 290px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
}

#content label{
    position: absolute;
    left: 40px;
    top: 130px;
    color: silver;
}

#content > small{
    display: block;
    color: silver;
    padding: 10px 0 10px 0 ;
    letter-spacing: .9px;
}

#next-btn{
    margin: 25px  0 0 22px;
}

#next-btn > button{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: medium;
    background-color: blue;
    color: white;
}

#next-btn > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0 0 0 ;
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;
    color: white;
    
}

/* create email address page */

.sub2-contanier{
    width: 350px;
    height: 730px;
    border: 1px solid silver;
    border-radius: 50px;
    background-color: black;
}

.sub2-contanier>a> img{
    width: 20px;
    height: 20px;
    margin: 30px 0 0px 30px;
}

.contentword{
    width: auto;
    min-height: 250px;
    margin: 15px 0 0 0;
    padding: 0 0 0 20px ;
    color: white;
}

.contentword>h5{
    letter-spacing: .9px;
    padding: 7px 0 10px 0;
}

.contentword>input{
    position: relative;
    width: 290px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(33, 32, 32);
    outline: none;
    font-size: 1.5em;
}

.contentword label{
    padding: 5px 0 0 0;
    color:gray;
    position: absolute;
    left: 41%;
}

.contentword button{
    display: block;
    width: 290px;
    height: 40px;
    margin: 15px 0 0 0;
    border: 1px solid black;
    border-radius: 50px;
    font-size: medium;
    background-color: blue;
    color: white;
}

.contentword>a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px 0 0 ;
    padding: 5px;
    text-decoration: none;
    width: 280px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

